@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@400;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  font-family: 'Spartan', sans-serif;
}

nav {
  position: fixed;
  top: 0px;
  width: 100%;
  background-color: #fff;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  z-index: 1;
}

.nav-item  {
  padding: 1rem 3rem;
  text-decoration: none;
  font-family: 'Spartan', sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
  color: #004aad;
}

.nav-item:hover {
  background-color: #004aad;
  color: #fff;
}

.nav-title {
  margin-right: auto;
}

.hero {
  height: 600px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  font-family: 'Spartan', sans-serif;
  color: #004aad;
}

.hero-resume {
  width: 70%;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.hero-resume h1 {
  font-size: 1.8rem;
  line-height: 2rem;
  margin: 1.8rem 0;
}

.hero-resume p {
  font-size: 1.2rem;
  line-height: 2rem;
}

.hero-picture {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-picture img {
  width: 300px;
  border-radius: 150px;
  box-shadow: -6px 6px 9px 0px rgba(25, 100, 189,0.5);
  opacity: 0.9;
}

.projects {
  width: 100%;
  background-color: rgba(25, 100, 189, 0.2);
  display: flex;
  align-items: center;
  flex-direction: column;
  color: #004aad
}

.projects h2 {
  margin: 2rem;
}

.project-card {
  width: 80%;
  max-width: 800px;
  height: 400px;
  margin: 2rem;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.project-description {
  height: 100%;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.project-description h3 {
  margin: 1rem;
}

.project-description p {
  margin: 1rem;
}

.project-screenshot {}

.project-screenshot img {
  cursor: pointer;
  width: 300px;
  margin: 2rem;
  border: 2px solid rgba(25, 100, 189, 0.1);
}

.project-screenshot img:hover {
  filter: brightness(60%);
  
}